<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
        <string>IBMPlexSans-SemiBoldItalic.ttf</string>
        <string>IBMPlexSans-Medium.ttf</string>
        <string>IBMPlexSans-SemiBold.ttf</string>
        <string>IBMPlexSans-MediumItalic.ttf</string>
        <string>IBMPlexSans-LightItalic.ttf</string>
        <string>IBMPlexSans-ExtraLight.ttf</string>
        <string>IBMPlexSans-Thin.ttf</string>
        <string>IBMPlexSans-ThinItalic.ttf</string>
        <string>IBMPlexSans-BoldItalic.ttf</string>
        <string>IBMPlexSans-Light.ttf</string>
        <string>IBMPlexSans-Italic.ttf</string>
        <string>IBMPlexSans-Regular.ttf</string>
        <string>IBMPlexSans-ExtraLightItalic.ttf</string>
        <string>IBMPlexSans-Bold.ttf</string>
        <string>PublicPixel-z84yD.ttf</string>
        <string>DigitalNumbers-Regular.ttf</string>
        <string>VT323-Regular.ttf</string>
        <string>DejaVuSansMono.ttf</string>
        <string>DejaVuSansMono-Bold.ttf</string>
        <string>DejaVuSansMono-BoldOblique.ttf</string>
        <string>DejaVuSansMono-Oblique.ttf</string>
	</array>
</dict>
</plist>
